   {% load static %}
   <!-- Required Js -->
    <script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.js' %}"></script>
    <div class="fixed-button active"><a href="https://codedthemes.com/item/gradient-able-admin-template/" target="_blank"
        class="btn btn-md btn-success"><i class="feather icon-shopping-cart me-2"></i> Upgrade To
        Pro</a> </div>